/*
by The Crow's Den
v1.1
*/

body {background-color: black; color: white; font-family: sans-serif; text-align: center; text-wrap: balance;}

a {color: #00ffff; text-decoration: none; font-weight: bold;}

a:hover {text-decoration: underline;}

a:active {color: #00bfbf; text-decoration: underline;}

img, canvas {image-rendering: pixelated; vertical-align:bottom}

.border_base {border-style: solid; margin: 0.2em;}

.canvas_draw {touch-action: none; cursor: crosshair;}

.topless {margin-top: 0;}

.bottomless, h1, h2 {margin-bottom: 0;}

.div_padding {margin-bottom: 2em;}

.spacer {width: 2em;}

label, input, button {vertical-align: middle;}

.text_error {color: crimson;}

input[type=file] {min-width: 20em; background-color: #303030; padding: 1.5em; border: 0.2em dashed #808080; border-radius: 2em; text-align: center;}

input[type=file]:hover {background-color: #404040; border-color: #909090;}

input[type=file]:active {background-color: #202020; border-color: #707070;}

input[type=file]::file-selector-button {display: none;}

input[type=checkbox] {width: 2em; height: 2em;}

input[type=text] {font-size: 1em; text-transform: uppercase; width: 10em; margin: 0.25em; margin-right: 2em;}

.label_text {display: inline-block; width: 4em; text-align: right;}

button {font-size: 1em; margin: 0.5em;}

.button_dev {width: 12em; margin: 0.25em 0;}

.button_reset {margin: 0.1em;}

.button_color {width: 2em; height: 2em; border: 0.15em solid #808080; border-radius: 0.5em; margin: 0.1em;}

.button_black {background-color: #16171a;}

.button_white {background-color: #fafdff;}

.button_color:hover:not(:disabled) {border-color: #909090}

.button_black:hover:not(:active):not(:disabled) {background-color: #1b1c1f;}

.button_white:hover:not(:active):not(:disabled) {background-color: #f3f9fd;}

.button_color:active:not(:disabled) {border-color: #707070}

.button_color:disabled {opacity: 0.5;}

.button_magenta {background-color: magenta;}

.button_download {font-size: 2em; margin: 1em 0 1em;}

.reference_box button {font-size: 1.1em; padding: 0.15em 0.75em; margin-top: 0;}

.reference_box p {padding: 0 1em; margin: 0.5em auto;}

a.imscared_link {color: #ff0000;}

a.imscared_link:active {color: #bf0000;}

a.roas_link {color: #00bfff;}

a.roas_link:active {color: #007fbf;}

.reference_border {width: 256px; border: 2px solid #808080;}

.borderless_left {border-left-width: 0;}

.reference_font_small {width: 610px;}

.reference_font_large {width: 880px;}

.reference_font_special {width: 70px;}

table {margin: auto;}

td {font-weight: bold; width: 10em; padding: 1em;}

table, td {border: 0.2em solid white; border-collapse: collapse;}

@media (max-width: 950px) {
	.reference_font_large {width: 704px;}
}

@media (max-width: 800px) {
	.reference_font_small {width: 488px;}
	.reference_font_large {width: 528px;}
}

@media (max-width: 600px) {
	.reference_box p {padding: 0;}
	.reference_border {width: 95vw; border-width: 0.625vw;}
	.borderless_left {border-top-width: 0;}
	.reference_font_small {width: 96vw;}
	.reference_font_large {width: 96vw;}
	.reference_font_special {width: 15vw;}
}

.hidden {display: none;}

.force_display {display: block !important;}